@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
html { scroll-behavior: smooth; }

body { overflow-x: hidden; }

* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: 'Poppins', sans-serif; }

.fluid { width: 100%; height: 100%; }

.transparent { opacity: 0; -webkit-transition: 350ms ease-in-out; transition: 350ms ease-in-out; }

.transparent:hover { opacity: 1; }

.glide { position: relative; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; }

.glide * { -webkit-box-sizing: inherit; box-sizing: inherit; }

.glide__track { overflow: hidden; }

.glide__slides { position: relative; width: 100%; list-style: none; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -ms-touch-action: pan-Y; touch-action: pan-Y; overflow: hidden; padding: 0; white-space: nowrap; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap; will-change: transform; }

.glide__slides--dragging { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.glide__slide { width: 100%; height: 100%; -ms-flex-negative: 0; flex-shrink: 0; white-space: normal; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; }

.glide__slide a { -webkit-user-select: none; user-select: none; -webkit-user-drag: none; -moz-user-select: none; -ms-user-select: none; }

.glide__arrows { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.glide__bullets { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.glide--rtl { direction: rtl; }

.glide__arrow { position: absolute; display: block; top: 65%; z-index: 2; color: #ff9933; text-transform: uppercase; padding: 9px 12px; background-color: transparent; border: none; text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1); opacity: 1; cursor: pointer; -webkit-transition: opacity 150ms ease, border 300ms ease-in-out; transition: opacity 150ms ease, border 300ms ease-in-out; -webkit-transform: translateY(-50%); transform: translateY(-50%); line-height: 1; font-size: 3rem; }

@media screen and (max-width: 950px) { .glide__arrow { font-size: 2.2rem; } }

@media screen and (max-width: 440px) { .glide__arrow { font-size: 1.5rem; } }

.glide__arrow:focus { outline: none; }

.glide__arrow:hover { color: #ffb366; }

.glide__arrow--left { left: 2em; }

.glide__arrow--right { right: 2em; }

.glide__arrow--disabled { opacity: 0.33; }

.glide__bullets { position: absolute; z-index: 2; bottom: 2em; left: 50%; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; list-style: none; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.glide__bullet { background-color: rgba(255, 255, 255, 0.5); width: 9px; height: 9px; padding: 0; border-radius: 50%; border: 2px solid transparent; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; cursor: pointer; line-height: 0; -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1); margin: 0 0.25em; }

.glide__bullet:focus { outline: none; }

.glide__bullet:hover, .glide__bullet:focus { border: 2px solid white; background-color: rgba(255, 255, 255, 0.5); }

.glide__bullet--active { background-color: white; }

.glide--swipeable { cursor: grab; cursor: -webkit-grab; }

.glide--dragging { cursor: grabbing; cursor: -webkit-grabbing; }

body { background-color: #ffcc99; }

body .navbar { position: fixed; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-pack: distribute; justify-content: space-around; top: 0; left: 0; right: 0; height: 12vh; background-color: rgba(153, 77, 0, 0); -webkit-transition: 350ms ease-in-out; transition: 350ms ease-in-out; z-index: 3; }

body .navbar_logo { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; color: #ffcc99; text-transform: uppercase; text-decoration: none; letter-spacing: 0.1125rem; font-size: 0.6rem; -webkit-transition: 500ms ease-in-out; transition: 500ms ease-in-out; width: 30%; }

body .navbar_logo:hover { -webkit-filter: drop-shadow(0 0 5px #5D382E); filter: drop-shadow(0 0 5px #5D382E); }

@media screen and (max-width: 950px) { body .navbar_logo { width: 45%; -webkit-transform: translateX(-4em); transform: translateX(-4em); } }

@media screen and (max-width: 440px) { body .navbar_logo { width: 65%; -webkit-transform: translateX(0em); transform: translateX(0em); } }

body .navbar_logo_img img { height: 5em; width: 5em; }

body .navbar_logo_text { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; text-decoration: none; padding-left: 1em; }

body .navbar_logo_text p { color: white; font-weight: bold; }

body .navbar_nav-links { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-pack: distribute; justify-content: space-around; width: 50%; list-style: none; -webkit-transition: 1500ms ease-in-out; transition: 1500ms ease-in-out; opacity: 1; pointer-events: all; padding-left: 3em; }

@media screen and (max-width: 950px) { body .navbar_nav-links { padding-left: 0em; position: absolute; right: 0; top: 0vh; height: 100vh; background-color: rgba(153, 77, 0, 0.6); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-pack: distribute; justify-content: space-around; width: 0%; opacity: 0; -webkit-transition: 200ms ease-in-out; transition: 200ms ease-in-out; } }

@media screen and (max-width: 440px) { body .navbar_nav-links { padding-left: 0em; position: absolute; left: 0; top: 0; bottom: 0; height: 91vh; background-color: rgba(153, 77, 0, 0.6); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-pack: distribute; justify-content: space-around; width: 0%; opacity: 0; -webkit-transition: 200ms ease-in-out; transition: 200ms ease-in-out; } }

@media screen and (max-width: 950px) { body .navbar_nav-links_scroll { top: 10vh; height: 90vh; } }

@media screen and (max-width: 440px) { body .navbar_nav-links_scroll { height: 81vh; } }

body .navbar_nav-links_click { opacity: 1; width: 30%; }

@media screen and (max-width: 440px) { body .navbar_nav-links_click { width: 40%; } }

body .navbar_nav-links li a { text-align: center; color: #fff2e6; text-decoration: none; letter-spacing: 0.3px; font-size: 0.875rem; -webkit-transition: 350ms ease-in-out; transition: 350ms ease-in-out; }

body .navbar_nav-links li a.active { font-weight: bold; }

body .navbar_nav-links li a:hover { text-shadow: 1px 0 1em #331a00; }

body .navbar_burger { display: none; -webkit-transition: 350ms ease-in-out; transition: 350ms ease-in-out; }

@media screen and (max-width: 950px) { body .navbar_burger { z-index: 3; display: block; } }

@media screen and (max-width: 440px) { body .navbar_burger { display: none; } }

body .navbar_burger_click { -webkit-transform: rotate(360deg); transform: rotate(360deg); }

body .navbar_burger_click .line1 { -webkit-transform: rotate(-45deg) translate(-5px, 6px); transform: rotate(-45deg) translate(-5px, 6px); }

body .navbar_burger_click .line2 { opacity: 0; }

body .navbar_burger_click .line3 { -webkit-transform: rotate(45deg) translate(-5px, -6px); transform: rotate(45deg) translate(-5px, -6px); }

body .navbar_burger div { width: 1.5625em; height: 0.1875em; background-color: white; margin: 0.3125em; -webkit-transition: 350ms ease-in-out; transition: 350ms ease-in-out; }

body .navbar_bar { display: none; }

@media screen and (max-width: 440px) { body .navbar_bar { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-pack: distribute; justify-content: space-around; position: fixed; bottom: 0; right: 0; left: 0; height: 9vh; background-color: rgba(153, 77, 0, 0.6); } }

body .navbar_bar_tombol { font-size: 1.6em; }

body .navbar_bar_dot { -webkit-transition: 350ms ease-in-out; transition: 350ms ease-in-out; }

body .navbar_bar_dot_click { -webkit-transform: rotate(-360deg) rotateX(180deg); transform: rotate(-360deg) rotateX(180deg); }

body .navbar_bar_dot_click .line1 { width: 1.5625em; height: 0.1875em; -webkit-transform: rotate(-45deg) translate(-5px, 7px); transform: rotate(-45deg) translate(-5px, 7px); border-radius: 0; }

body .navbar_bar_dot_click .line2 { opacity: 0; }

body .navbar_bar_dot_click .line3 { width: 1.5625em; height: 0.1875em; -webkit-transform: rotate(45deg) translate(-5px, -7px); transform: rotate(45deg) translate(-5px, -7px); border-radius: 0; }

body .navbar_bar_dot div { width: 0.2875em; height: 0.2875em; border-radius: 50%; background-color: white; margin: 0.3125em; -webkit-transition: 350ms ease-in-out; transition: 350ms ease-in-out; }

body .navbar_scroll { background-color: rgba(153, 77, 0, 0.6); height: 10vh; }

body #overlay { background-color: #0a0500; opacity: .7; position: absolute; width: 100%; height: 100%; }

body .text-jumbo { padding: 3em; background-color: #fff2e6; color: #331a00; position: relative; display: -ms-grid; display: grid; -ms-grid-columns: 46% 46%; grid-template-columns: 46% 46%; grid-template-areas: "judul text"; grid-gap: 2em; }

@media screen and (max-width: 950px) { body .text-jumbo { -ms-grid-columns: 100%; grid-template-columns: 100%; grid-template-areas: "judul" "text"; } }

body .text-jumbo_background { background-image: url("../assets/icon/Logo-BLM-low.png"); background-repeat: no-repeat; background-position: center; background-size: 300px; opacity: .1; position: absolute; width: 100%; height: 100%; pointer-events: none; }

body .text-jumbo_judul { -ms-grid-row: 1; -ms-grid-column: 1; grid-area: judul; color: #331a00; text-align: right; font-size: 1.5em; font-weight: bold; }

@media screen and (max-width: 950px) { body .text-jumbo_judul { text-align: left; } }

body .text-jumbo_judul p { -webkit-transition: 350ms ease-in-out; transition: 350ms ease-in-out; padding: 0 1em 0 0; border-right: 0.2em solid #994d00; }

@media screen and (max-width: 950px) { body .text-jumbo_judul p { padding: 0 0 .2em 0; border-right: none; border-bottom: 0.2em solid #994d00; } }

body .text-jumbo_text { -ms-grid-row: 1; -ms-grid-column: 2; grid-area: text; color: #331a00; text-align: justify; }

body .text-picture { position: absolute; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 3rem; color: #fff2e6; }

body .container-kenalan { background-color: #fff2e6; }

body .container-produk { background-color: #BAA89B; padding: 3em; }

body .container-produk_text { text-align: center; padding: 2em; font-size: 1.4em; color: #331a00; font-weight: bold; }

body .container-produk_section { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-bottom: 4em; }

body .container-produk_section_kotak { border-left: 0.5em solid #ff9933; background-color: #fff2e6; border-radius: .4em; padding: .5em; -webkit-clip-path: polygon(0 0, 100% 0%, 100% 97%, 15% 97%, 12% 100%, 9% 97%, 0 97%); clip-path: polygon(0 0, 100% 0%, 100% 97%, 15% 97%, 12% 100%, 9% 97%, 0 97%); }

body .container-produk_section_text { padding: 1em; text-align: center; color: #331a00; font-weight: bold; }

body .container-row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-pack: distribute; justify-content: space-around; }

@media screen and (max-width: 950px) { body .container-row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }

body .container-aspirasi { background-color: #524439; padding: 3em; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

body .container-aspirasi_text { text-align: center; padding: 2em; font-size: 1.4em; color: #fff2e6; font-weight: bold; }

body .container-aspirasi_iframe iframe { width: 900px; }

@media screen and (max-width: 950px) { body .container-aspirasi_iframe iframe { width: 500px; } }

@media screen and (max-width: 440px) { body .container-aspirasi_iframe iframe { width: 370px; } }

body .footer { height: 8em; background-color: #ffcc99; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-pack: distribute; justify-content: space-around; }

@media screen and (max-width: 950px) { body .footer { height: 7em; } }

@media screen and (max-width: 440px) { body .footer { height: 6em; } }

@media screen and (max-width: 440px) and (max-width: 440px) { body .footer { margin-bottom: 9vh; } }

body .footer_copyright { color: #ff9933; font-size: .9rem; }

@media screen and (max-width: 950px) { body .footer_copyright { font-size: .8rem; } }

@media screen and (max-width: 440px) { body .footer_copyright { font-size: .7rem; } }

body .footer_copyright a { text-decoration: none; color: #ff9933; }

body .footer_copyright a:hover { -webkit-filter: drop-shadow(0 0 0.3px #5D382E); filter: drop-shadow(0 0 0.3px #5D382E); }

body .footer_contact { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 2rem; width: 20%; -ms-flex-pack: distribute; justify-content: space-around; z-index: 2; }

@media screen and (max-width: 950px) { body .footer_contact { width: 25%; font-size: 1.8rem; } }

@media screen and (max-width: 440px) { body .footer_contact { width: 35%; font-size: 1.6rem; } }

body .footer_contact a { color: #cc6600; }

body .footer_contact a:hover { -webkit-filter: drop-shadow(0 0 1px #5D382E); filter: drop-shadow(0 0 1px #5D382E); }
/*# sourceMappingURL=style.css.map */