@mixin tablet {
  @media (max-width:#{$tablet}) {
    @content;
  }
}

@mixin phone {
  @media (max-width:#{$phone}) {
    @content;
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
