.navbar {
    position: fixed;
    @include flex-row;
    justify-content: space-around;
    top: 0;
    left: 0;
    right: 0;
    height: $navbar-height;
    background-color: rgba(color(satu-darkest), 0);
    transition: $transition;
    z-index: 3;

    &_logo {
        @include flex-row;
        color: color(satu-lighter);
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.1125rem;
        font-size: 0.6rem;
        transition: $transition-slow;
        width: 30%;

        &:hover {
            filter: drop-shadow(0 0 5px color(dua));
        }

        @include tablet {
            width: 45%;
            transform: translateX(-4em);
        }

        @include phone {
            width: 65%;
            transform: translateX(0em);
        }

        &_img {
            img {
                height: 5em;
                width: 5em;
            }
        }

        &_text {
            @include flex-column;
            align-items: flex-start;
            text-decoration: none;
            padding-left: 1em;

            p {
                color: white;
                font-weight: bold;
            }

        }
    }

    // &_logo_scroll {
    //     letter-spacing: 0.3125rem;
    //     font-size: 1.25rem;
    //     color: color(white);
    //     transform: translateX(0em);
    //     pointer-events: all;
    // }

    &_nav-links {
        @include flex-row;
        justify-content: space-around;
        width: 50%;
        list-style: none;
        transition: $transition-slower;
        opacity: 1;
        pointer-events: all;
        padding-left: 3em;

        @include tablet {
            padding-left: 0em;
            position: absolute;
            right: 0;
            top: 0vh;
            height: 100vh;
            background-color: rgba(color(satu-darkest), 0.6);
            @include flex-column;
            justify-content: space-around;
            width: 0%;
            opacity: 0;
            transition: $transition-fast;
        }

        @include phone {
            padding-left: 0em;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            height: 100vh - $navbar-bar-height;
            background-color: rgba(color(satu-darkest), 0.6);
            @include flex-column;
            justify-content: space-around;
            width: 0%;
            opacity: 0;
            transition: $transition-fast;
        }

        &_scroll {
            @include tablet {
                top: $navbar-height-scroll;
                height: 100vh - $navbar-height-scroll;
            }

            @include phone {
                height: 100vh - $navbar-bar-height - $navbar-height-scroll;
            }
        }

        &_click {
            opacity: 1;
            width: 40%;

            @include phone {
                width: 50%;
            }
        }

        li {
            a {
                text-align: center;
                color: color(white);
                text-decoration: none;
                letter-spacing: 0.3px;
                font-size: 0.875rem;
                transition: $transition;

                &.active {
                    font-weight: bold;
                }

                &:hover {
                    text-shadow: 1px 0 1em darken(color(satu-darkest), 20%);
                }
            }
        }
    }

    &_burger {
        display: none;
        transition: $transition;

        @include tablet {
            z-index: 3;
            display: block;
        }

        @include phone {
            display: none;
        }

        &_click {
            transform: rotate(360deg);

            .line1 {
                transform: rotate(-45deg) translate(-5px, 6px);
            }

            .line2 {
                opacity: 0;
            }

            .line3 {
                transform: rotate(45deg) translate(-5px, -6px);
            }
        }

        div {
            width: 1.5625em;
            height: 0.1875em;
            background-color: white;
            margin: 0.3125em;
            transition: $transition;
        }
    }

    &_bar {
        display: none;

        @include phone {
            @include flex-row;
            justify-content: space-around;
            position: fixed;
            bottom: 0;
            right: 0;
            left: 0;
            height: $navbar-bar-height;
            background-color: rgba(color(satu-darkest), 0.6);

        }

        &_tombol {
            font-size: 1.6em;
        }

        &_dot {
            transition: $transition;

            &_click {
                transform: rotate(-360deg) rotateX(180deg);

                .line1 {
                    width: 1.5625em;
                    height: 0.1875em;
                    transform: rotate(-45deg) translate(-5px, 7px);
                    border-radius: 0;
                }

                .line2 {
                    opacity: 0;
                }

                .line3 {
                    width: 1.5625em;
                    height: 0.1875em;
                    transform: rotate(45deg) translate(-5px, -7px);
                    border-radius: 0;
                }
            }

            div {
                width: 0.2875em;
                height: 0.2875em;
                border-radius: 50%;
                background-color: white;
                margin: 0.3125em;
                transition: $transition;
            }
        }

    }

    // End .navbar
}


.navbar_scroll {
    background-color: rgba(color(satu-darkest), 0.6);
    height: $navbar-height-scroll;
}