/*Atas for core*/
@import "variables";
@import "functions";
@import "mixins";
@import "library";

/*Tengah*/
body {
    @import "navbar";
    @import "components";
    @import "container";
    @import "footer";
}

/*Bawah for animation*/